@use "./utils/vars" as *;

.about {
  margin-bottom: clamp(3.75rem, 2.687rem + 5.32vw, 6.375rem);

  &__intro-bg {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 397px;

    background-image: image-set(url(../images/convert/about/hero1@1x.avif) type("image/avif") 1x, url(../images/convert/about/hero1@2x.avif) type("image/avif") 2x, url(../images/convert/about/hero1@1x.webp) type("image/webp") 1x, url(../images/convert/about/hero1@2x.webp) type("image/webp") 2x, url(../images/convert/about/hero1@1x.jpg) type("image/jpeg") 1x);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    z-index: -1;
    pointer-events: none;
  }

  &__intro {
    margin-bottom: clamp(1.25rem, -0.142rem + 6.96vw, 4.688rem);
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    transform: translateY(-53px);
  }

  &__title {
    @extend %title-font;
    font-size: clamp(2.188rem, 1.555rem + 3.16vw, 3.75rem);
    line-height: 133%;
    color: var(--title);
  }

  &__subtitle {
    padding-bottom: 27px;
    margin-bottom: 23px;
    text-align: left;
    max-width: 822px;
    line-height: 167%;
  }

  &__content {
    margin-bottom: 85px;
  }

  &__content-text {
    padding-left: 285px;

    & p:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &__video {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    // height: 413px;
    height: 28.5vh;
    overflow: hidden;
  }

  &__video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__svg-element {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: #fff url(../images/static/heart2.svg) left center /200px no-repeat;
    background: var(--gray) url(../images/static/heart2.svg);
    background-position: left;
    // background-size: 300px;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
  }




  @media screen and (width < 992px) {
    &__content-text {
      padding-left: 50px;
    }
  }

  @media screen and (width < 768px) {
    &__svg-element {
      background-size: 300px;
      background-position: center;
    }
  }
}