@use "./utils/vars" as *;

.blog-one {
  &.blog {
    padding: 60px 0 100px;
  }

  &__item.blog__item {
    margin-bottom: 0;
  }

  &__item {
    p {
      margin-bottom: 40px;
    }

  }

  &__item .tags__list {
    gap: 23px;
  }


  @media screen and (width < 1041px) {
    // &__item {
    //   margin-top: 30px;
    // }
  }

  @media screen and (width < 541px) {
    &__item {
      & p {
        margin-top: 30px;
        margin-bottom: 30px;
      }


    }
  }
}