@use "../utils/vars" as *;

.blog-box {
  padding-top: 44px;
  padding-bottom: 78px;

  &__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

  }

  &__title {
    max-width: 430px;
    line-height: 142%;
  }

  .subtitle::after {
    display: none;
  }

  .blog {
    display: flex;
    gap: 30px;

  }

  .blog__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    // max-width: 539px;
    width: 50%;
    margin-bottom: 0;
  }

  .blog-card {

    @media (any-hover: hover) {
      &:hover {
        .blog-card__img-box {
          transform: scaley(1.07);
        }
      }
    }

    &__img-box {
      @include transition ($transition-property: (scale));
    }
  }

  .blog-card__img-box,
  .blog-card__video-box,
  .swiper-slide {
    height: 307px;
  }

  .swiper {
    max-width: 539px;
    width: 100%;
    margin-bottom: 17px;
  }

  @media screen and (width > 921px) and (width < 1047px) {
    padding-bottom: 50px;

    .blog {
      gap: 10px;
    }

    &__links {
      gap: 5px;
    }
  }

  @media screen and (width < 921px) {
    & .swiper {
      max-width: none;
    }

    .blog {
      display: block;

      &__item {
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
      }

    }
  }
}