@use "./utils/vars" as *;

.blog-one {

  &__prev-links {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 32px;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
  }

  &__prev-link {
    display: inline-block;
    position: relative;
    color: var(--dove-gray);
    font-size: 14px;
    font-weight: 600;
    max-width: 243px;
    transition-duration: 550ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 23px;
      top: 50%;
      transform: translateY(-50%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--prev {
      padding-left: 44px;

      &::before {
        background-image: url(../images/static/blog-one-prev.svg);
        left: 0;
      }
    }

    &--next {
      padding-right: 44px;
      text-align: right;

      &::before {
        background-image: url(../images/static/blog-one-next.svg);
        right: 0;
      }
    }
  }

  &.blog {
    padding: 60px 0 100px;
  }


  &__item {
    p {
      margin-bottom: 40px;
    }
  }

  &__item .tags__list {
    gap: 23px;
  }


  @media screen and (width < 541px) {
    &__item {
      & p {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}