@use "vars" as *;

.breadcrumbs {
  background: rgba(#DFDFDF, .5);
  position: relative;
  z-index: 1;


  &__list {
    display: flex;
    gap: 5px;
    margin-left: 25px;
    overflow-x: auto;
  }

  &__item {
    display: flex;
    align-items: center;

    @media (any-hover: hover) {
      &:hover {
        .breadcrumbs__link {
          color: var(--accent);
        }
      }
    }

    &:last-child:hover {
      .breadcrumbs__link {
        color: var(--default);
      }
    }
  }

  &__item + &__item::before {
    content: '/';
    margin-left: -4px;
    margin-right: 5px;
  }


  &__link {
    padding: 14px 0;
    font-size: 14px;
    color: var(--default);
    @include transition ($transition-property: color);

    // &:hover {
    //   color: var(--accent);
    // }
  }

  &--no-bg {
    background-color: transparent;
  }
}