@use "./base/vars" as *;

.breadcrumbs {
  background: rgba(#DFDFDF, .5);
  position: relative;
  z-index: 3;
  font-size: 16px;

  &__list {
    display: flex;
    gap: 5px;
    overflow-x: auto;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item + &__item::before {
    content: '/';
    margin-left: -4px;
    margin-right: 5px;
  }


  &__link {
    padding: 14px 0;
    color: var(--default);
    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }
  }

  &--no-bg {
    background-color: transparent;
  }
}