@use "./utils/vars" as *;

.comments {
  padding-top: 35px;

  &__title {
    @extend %title-font;
    color: var(--title);
    font-size: clamp(1rem, 0.863rem + 0.68vw, 1.625rem);
    line-height: 155%;
  }

  &__item {
    margin-top: 18px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & picture {
      flex-shrink: 0;
    }

    &-avatar {
      margin-right: 13px;
      width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: 50%;
    }

    &-author {
      display: block;
      @extend %title-font;
      font-style: normal;
      line-height: 144%;
      color: var(--title);
    }

    &-data {
      color: var(--copyright);
      font-size: clamp(0.875rem, 0.82rem + 0.27vw, 1.125rem);
      line-height: 200%;
    }

    &-btn {
      color: var(--dove-gray);
      font-size: clamp(0.875rem, 0.82rem + 0.27vw, 1.125rem);
      font-weight: 600;
      line-height: 200%;
      @include transition ($transition-property: color);

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  // comments form
  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;

    & .subtitle__five {
      margin-bottom: 25px;
    }

    &-textarea {
      border-radius: 24px;
      border: 1px solid var(--gray);
      width: 100%;
      min-height: 125px;
      resize: none;
      padding-top: 14px;
      padding-left: 15px;
      color: var(--copyright);
      margin-bottom: 12px;
    }

    &-input,
    &-textarea {
      &::placeholder {
        font-family: 'OpenSans', sans-serif;
        font-size: 16px;
        line-height: 175%;
        color: var(--copyright);
      }
    }

    &-input {
      border-radius: 20px;
      border: 1px solid var(--gray);
      padding: 6px 16px;
      width: calc((100% - 10px) / 2);
      margin-bottom: 20px;
    }

    &-label {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      font-size: 14px;
      color: var(--copyright);
    }

    &-checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }

    &-checkbox-style {
      position: relative;
      width: 21px;
      height: 21px;
      margin-right: 11px;
      border: 1px solid var(--line);
      background-color: transparent;
    }

    &-checkbox:checked + &-checkbox-style {

      background-color: var(--accent);
    }


    &-checkbox:checked + &-checkbox-style::before {
      position: absolute;
      content: '✔';
      font-size: 22px;
      width: 20px;
      height: 20px;
      color: var(--title);
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  @media screen and (width < 541px) {
    &__item-text {
      font-size: 14px;
    }

    &__item {
      flex-wrap: wrap;
      gap: 10px;

      &-avatar {
        width: 45px;
        height: 45px;
      }

      &-author,
      &-data {
        margin-left: 55px;
      }

      &-info {
        margin-top: -56px;
      }
    }

    &__form {
      &-input {
        width: 100%;
      }

      &-checkbox-style {
        width: 16px;
        height: 16px;
      }

      &-checkbox:checked + &-checkbox-style::before {
        width: 15px;
        height: 15px;
        font-size: 17px;
      }
    }
  }
}