@use "../utils/vars" as *;

.forms-button {
  min-width: 160px;
  padding: 6px 12px;
  font-weight: 600;
  background-color: var(--title);
  border-radius: 21px;
  color: var(--white);
  border: 1px solid transparent;
  align-self: flex-start;
  @include transition ($transition-property: (background-color, color, text-shadow, border));

  @media (any-hover: hover) {
    &:hover {
      color: var(--title);
      background-color: var(--accent);
      text-shadow: var(--text-shadow);
      -webkit-text-stroke: 1px #000;
      border: 1px solid var(--title);
    }
  }
}