.gallery {
  padding: 80px 0 90px;

  &__list {
    display: grid;
    // grid-template-columns: auto auto auto auto;
    // grid-template-columns: auto auto 493px 492px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 35px;
  }

  // &__item:nth-child(10n+1) {
  //   grid-row: span 2;
  //   grid-column: span 2;
  // }

  //       .gallery__item:nth-child(8n) {
  //         grid-row: span 2;
  //         grid-column: span 2;
  //         max-height: 1165px;
  //       }

  &__link {
    height: 100%;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    // max-height: 1148px;
    height: 100%;
  }



  @media screen and (width < 993px) {
    &__list {
      gap: 10px;
    }
  }

  @media screen and (width < 551px) {
    padding: 40px 0 50px;

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item:first-child {
      grid-row: 1;
      grid-column: 1;
    }

    &.gallery--page {
      .gallery__item:nth-child(8) {
        grid-row: span 1;
        grid-column: span 1;
      }
    }
  }

  @media screen and (width < 376px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}