@use "./utils/vars" as *;

.logo {
    padding: 10px;
    width: clamp(6.125rem, 5.484rem + 3.21vw, 9.25rem);

    @include transition ($transition-property: transform);

    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.2);
        }
    }

    @media screen and (width > 541px) {
        margin: 0 auto;
    }

    @media screen and (width < 541px) {
        order: -1;
        position: relative;
        z-index: 12;
    }
}