@use "./base/vars" as *;

.main-blog {
  position: relative;
  padding: clamp(0.625rem, -0.641rem + 6.33vw, 3.75rem) 0 66px;

  .subtitle {
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__items {
    padding-bottom: 18vh;
    overflow: visible;

  }

  & .blog-card .blog-card__title-link {
    min-height: auto;
  }

  @media screen and (width < 1041px) {
    &__inner {
      flex-wrap: wrap;
    }

    &__items {
      max-width: 100%;
      // padding-bottom: 100vh;
    }
  }
}