@use "./utils/vars" as *;


.map {
  // margin-top: -51px;
  margin-bottom: 50px;

  position: relative;
  padding-bottom: calc(578px / 1920px * 100%);
  // height: 707px;
  height: 0;
  overflow: hidden;

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  @media screen and (width < 1367px) {
    margin-top: 0;
  }
}