@use "vars" as *;

.map {
  margin-top: -51px;
  margin-bottom: 50px;

  @media screen and (width < 1367px) {
    margin-top: 0;

    & iframe {
      height: 578px;
    }
  }

  @media screen and (width < 769px) {
    & iframe {
      height: 300px;
    }
  }
}