@use "./utils/vars" as *;

.menu {

    &__list {
        display: flex;
        gap: 60px;

        &--margin {
            margin-left: 32px;
            margin-right: 60px;
        }

        &--margin-right {
            margin-right: 44px;
        }
    }

    &__item {
        position: relative;
        height: 100%;

        &:before {
            @extend %line;
            right: 0;
            bottom: 33.33%;
        }

        &:after {
            @extend %line;
            left: 0;
            bottom: 0;
        }

        @media (any-hover: hover) {
            &:hover {
                &::before {
                    width: 100%;
                }

                &::after {
                    width: 100%;
                }

                .menu__link {
                    text-shadow: 1px 1px 5px var(--black);
                }

                .menu__link::before {
                    width: 100%;
                }
            }
        }
    }

    &__link {
        position: relative;
        padding-block: 20px;
        padding-inline: 10px;
        @extend %title-font;
        line-height: calc(22/16);
        text-align: center;
        color: var(--link);
        @include transition ($transition-property: background-color);
        z-index: 1;

        &:before {
            @extend %line;
            left: 0;
            bottom: 66.66%;
        }

        &:focus-visible {
            border-radius: 10px;
            outline: 0;
            box-shadow: 0 0 10px var(--accent), 0 0 5cap var(--title);
            @include transition ($transition-property: box-shadow);

        }

        // @media (any-hover: hover) {
        //     &:hover {
        //         background-color: var(--accent);
        //     }



        &.active {
            background-color: var(--accent);
        }
    }


    @media screen and (width < 1024px) {

        &__list--margin {
            margin-left: 0;
            margin-right: 0;
        }

        &__list--margin-right {
            margin-right: 0;
        }
    }

    @media screen and (width < 769px) {
        &__list {
            gap: 20px;
        }

        &__link {
            &--active {
                &::after {
                    bottom: 0;

                }
            }
        }
    }

    @media screen and (width < 541px) {
        // display: none;
        visibility: hidden;
        opacity: 0;
        padding-right: 0;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 20px;
        z-index: 11;
        transform: translateY(-350px);
        @include transition ($transition-property: all);
        animation: opac .7s;

        @keyframes opac {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        &--open {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            visibility: visible;
            opacity: 1;
            transform: translateY(40px);
            -webkit-backdrop-filter: blur(19px);
            backdrop-filter: blur(19px);
            background-color: rgba(255, 255, 255, .04);
            border: 5px solid rgba(255, 255, 255, 0.07);
            width: 100vw;
            height: 100vh;
        }

        &__list {
            flex-direction: column;
        }

        &__item {
            padding-left: 0;
            padding-right: 0;
        }

        &__link {
            &--active::after {
                display: none;
            }
        }
    }
}