@use "base/vars" as *;

.rightside-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 694px;
    width: 100%;

    padding-top: clamp(1.25rem, -0.701rem + 3.05vw, 2.5rem);
    background: var(--white);
    box-shadow: var(--bs);
    z-index: 5;
    @include transition ($transition-property: transform);


    &.rightside-menu--close {
        transform: translateX(500%);
    }

    &__close {
        padding: 10px;
        margin-left: 50px;
        text-align: left;
    }

    &__content {
        max-width: 485px;
        margin: 0 auto;
        text-align: center;
    }

    &__logo {
        display: inline-block;
        margin-bottom: clamp(1.25rem, -0.701rem + 3.05vw, 2.5rem);
    }

    &__title {
        @extend %title-font;
        font-size: clamp(1.75rem, 0.97rem + 1.22vw, 2.25rem);
        line-height: 169%;
        color: var(--title);
    }

    .subtitle::after {
        margin: 0 auto;
        right: 0;
    }


    &__text {
        margin-top: 20px;
        margin-bottom: clamp(2.188rem, -1.715rem + 6.1vw, 4.688rem);
    }

    &__img {
        width: clamp(18.75rem, 0.701rem + 28.2vw, 30.313rem);
        margin-inline: auto;
    }


    @media screen and (max-width: 1024px) {
        &.rightside-menu--close {
            display: none;
        }
    }
}