@use "./base/vars" as *;

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 30px;

  & button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: var(--title);
    border-radius: 50%;
  }

  @media screen and (max-width: 551px) {
    gap: 20px;
  }

  @media screen and (max-width: 376px) {
    gap: 5px;

    & button {
      width: 4px;
      height: 4px;
    }
  }
}

.slick-active button {
  background-color: #FFEF35;
  ;
}