@use "./base/vars" as *;

.social-media {
  display: flex;
  align-items: center;
  gap: 36px;
  color: var(--default);

  &__link {
    display: flex;
    align-items: center;
    color: inherit;

    svg {
      transition: transform 0.6s ease;
      transform-origin: center;
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          scale: 1.5;
          transform: rotate(360deg);
        }
      }
    }
  }
}