@use "vars" as *;

.social-media {
  display: flex;
  align-items: center;
  gap: 36px;

  &__link {
    display: flex;
    align-items: center;
  }

  &__icons {
    width: 28px;
    height: 18px;
  }
}