@use "../utils/vars" as *;


.subtitle {
  font-family: var(--second-family);
  font-weight: 700;
  // font-size: 36px;
  font-size: clamp(1.438rem, 1.275rem + 0.81vw, 2.25rem);
  // line-height: 142%;
  text-align: center;
  color: var(--title);
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 200px;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--line);
    border: 1px solid var(--line);
  }


  &__fourth {
    @extend %title-font;
    // font-size: 24px -18;
    font-size: clamp(1.125rem, 1.05rem + 0.38vw, 1.5rem);
    // line-height: calc(38/24);
    line-height: 158%;
    color: var(--title);
    @include transition ($transition-property: (scale, -webkit-text-stroke));
  }

  &__five {
    @extend %title-font;
    font-weight: 700;
    // font-size: 16px;
    // font-size: 14px;
    font-size: clamp(0.875rem, 0.85rem + 0.13vw, 1rem);
    line-height: 144%;
    color: var(--title);
  }

  // @media screen and (width < 561px) {
  //   font-size: 25px;

  //   &__fourth {
  //     font-size: 22px;
  //   }

  //   &__five {
  //     font-size: 14px;
  //   }
  // }

  // @media screen and (width < 481px) {
  //   font-size: 23px;

  //   &__fourth {
  //     font-size: 18px;
  //   }
  // }
}