@use "vars" as *;

.tabs-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  &__btn {
    padding: 6px 16px;
    opacity: 0.5;
    border: 1px solid #454647;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #8F8D8D;
    @include transition ($transition-property: (color, background-color));

    @media (any-hover: hover) {
      &:hover {
        color: var(--title);
        background: rgba(#FFEF35, .5);
      }
    }
  }

  @media screen and (width < 993px) {
    gap: 7px;
  }

  @media screen and (width < 481px) {
    &__btn {
      padding: 4px 10px;
      font-size: 12px;
    }
  }
}

.mixitup-control-active {
  color: var(--title);
  background: rgba(#FFEF35, .5);
  border: 1px solid rgba(#FFEF35, .5);
}