@use "./utils/vars" as *;

.tags-blog {
  margin-bottom: 30px;

  & .subtitle__five {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__link {
    padding: 0 16px;
    font-family: inherit;
    font-weight: 600;
    // font-size: 14px;
    font-size: clamp(0.875rem, 0.82rem + 0.27vw, 1.125rem);
    line-height: 200%;
    text-align: center;
    color: var(--tags-blog);

    border-radius: 14px;
    border: 1px solid var(--tags-blog);
    @include transition ($transition-property: (color, background-color));

    @media (any-hover: hover) {
      &:hover {
        color: var(--title);
        background: rgba(#FFEF35, .5);
      }
    }
  }
}