:root {
    --white: #FFF;
    --site-white: #FFFFF0;
    --link: rgba(54, 56, 56, 0.9033);
    --gray: #DFDFDF;
    --title: #363838;
    --default: #5A5A5A;
    // --accent: #ffef35e6;
    --accent: #f1d152;
    --dove-gray: #707070;
    --line: #979797;
    --top-bg: #F1D152;
    --line1: #6D7278;
    --partners-fill: rgb(151, 151, 151, .7);
    --bg-play-btn: rgba(54, 56, 56, 0.4);

    --copyright: #A1A1A1;
    --tags-blog: #8F8D8D;
    --works-path-line: rgba(54, 56, 56, 0.7);

    --black: #000000;
    --bs: -2px 3px 17px 0 #000;

    --font-family: 'OpenSans', sans-serif;
    --second-family: 'Montserrat', sans-serif;

    --text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    --bg-fill: rgba(255, 255, 255, .6);

    --br: 14px;

    --space-sm: 0.75em;

    --border-radius: 10px;
}

@mixin transition ($transition-property: color, $transition-duration: 550ms, $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}



%title-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}


%line {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0%;
    background-color: var(--accent);
    transition: .45s ease;
}

//  Линия под заголовками
//  padding-bottom: 23px;
// margin-bottom: 23px;
// position: relative;

// &::after {
//   position: absolute;
//   content: '';
//   width: 200px;
//   height: 1px;
//   left: calc(50% - 100px);
//   bottom: 0;
//   background-color: #6D7278;
//   border: 1px solid var(--line);
//   border-radius: 0.5px;
// }
// }

// @extend %title-font;

@mixin line-block($lines: 2, $lh: 1.58) {
    min-height: calc(clamp(1.125rem, 1.05rem + 0.38vw, 1.5rem) * #{$lh} * #{$lines});
}