.container {
  max-width: 1680px;
  // max-width: 1470px;
  min-width: 320px;
  margin-inline: auto;
  padding-inline: 15px;
  // outline: 1px solid red;

  &--blog-single {
    max-width: 1280px;
  }
}

.container-fluid {
  max-width: 1888px;
  padding: 0 10px;
  margin-inline: auto;
}