@use "vars" as *;

html {
    height: 100%;
    overflow: auto;
    view-timeline-name: --stack-scroll;
    view-timeline-axis: block;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    // font-size: inherit;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1rem, 0.973rem + 0.14vw, 1.125rem);
    line-height: 169%;
    color: var(--default);
    overflow-x: hidden;
    min-width: 300px;
    min-height: 2000px;


    &:before {
        content: "";
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .8);
        z-index: 100;
    }

    &.no-scroll {
        position: fixed;
        width: 100%;
        overflow: hidden;
    }
}

button {
    padding: 0;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: calc(100vh - env(safe-area-inset-bottom));
    // outline: 1px solid red;
}

.main {
    flex: 1 0 auto;
    padding-top: 10px;
    position: relative;
    /* чтобы .about__prev-bg позиционировался внутри main */
    z-index: 0;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1680px;
    // max-width: 1470px;
    min-width: 320px;
    margin-inline: auto;
    padding-inline: 15px;
    // outline: 1px solid red;

    &--blog-single {
        max-width: 1280px;
    }
}

.container-fluid {
    max-width: 1888px;
    padding: 0 10px;
    margin-inline: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.menu__link,
.logo,
.header__btn,
.rightside-menu__close {
    @include transition ($transition-property: box-shadow);

    &:focus-visible {
        border-radius: 10px;
        outline: 0;
        box-shadow: 0 0 10px var(--accent), 0 0 5cap var(--title);
        @include transition ($transition-property: box-shadow);

    }
}



.footer-social__link,
.info-email,
.contacts__addres-link,
.footer__menu-link {
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        left: 0;
        bottom: 3px;
        background-color: var(--accent);
        @include transition ($transition-property: width);
    }




    @media (any-hover: hover) {
        &:hover {
            &::before {
                width: 100%;

            }
        }
    }
}

.footer {

    &-social__link,
    &__menu-link {
        color: var(--dove-gray);
    }
}

// Visually hidden content for screen readers
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.clients-ticker {
    overflow: hidden;
}

.clients-ticker-track {
    display: flex;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: max-content;
}

.running-line-left {
    animation: ticker-left 40s linear infinite;
}

button:disabled,
button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}