@use "./base/vars" as *;

.about {
  margin-bottom: clamp(3.75rem, 2.687rem + 5.32vw, 6.375rem);

  &__intro-bg {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 600px;

    background-image: image-set(url(../images/convert/about/about@1x.avif) type("image/avif") 1x, url(../images/convert/about/about@2x.avif) type("image/avif") 2x, url(../images/convert/about/about@1x.webp) type("image/webp") 1x, url(../images/convert/about/about@2x.webp) type("image/webp") 2x, url(../images/convert/about/about@1x.jpg) type("image/jpeg") 1x);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    z-index: -1;
    pointer-events: none;
  }

  &__intro {
    margin-bottom: clamp(1.25rem, -0.142rem + 6.96vw, 4.688rem);
    position: relative;
    height: 602px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    transform: translateY(calc(clamp(3.438rem, 3.348rem + 0.45vw, 3.875rem) * -1));
    background-color: var(--partners-fill);
  }

  &__title {
    @extend %title-font;
    font-size: clamp(3.125rem, 1.594rem + 7.65vw, 10.625rem);
    color: wheat;
    text-transform: uppercase;
    // position: relative;

    .letter {
      // font-size: calc(var(--index) * 8);
      position: relative;
      margin-left: calc(var(--index) * -1.8);
      // right: calc(var(--index) * 1.8);

      text-shadow: 25px 0 35px rgba(0, 0, 0, .8);

      display: inline-block; // Обязательно для transform
      opacity: 0;


      transform: translate3d(0, 100%, 0);

      // Свойства, которые будем анимировать
      // transition-duration берется из inline-стилей HTML
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

      // Класс, который добавляет JS
      &.animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }



  &__subtitle {
    margin-bottom: 23px;
    text-align: left;
    max-width: 822px;
  }

  &__content {
    margin-bottom: 85px;
  }

  &__content-text {
    padding-left: 285px;

    & p:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &__video {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    // height: 413px;
    height: 28.5vh;
    overflow: hidden;
  }

  &__video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__svg-element {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: var(--white) url(../images/static/heart2.svg) left center /200px no-repeat;
    background: var(--gray) url(../images/static/heart2.svg);
    background-position: left;
    // background-size: 300px;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
  }




  @media screen and (width < 992px) {
    &__content-text {
      padding-left: 50px;
    }
  }

  @media screen and (width < 768px) {
    &__svg-element {
      background-size: 300px;
      background-position: center;
    }
  }
}