// .animate-stack {

//   view-timeline-name: --stack-scroll;
//   view-timeline-axis: block;
//   padding-bottom: calc(var(--animate-stack-count, 0) * 100vh);

//   position: relative;
// }

// .animate-stack__animator {

//   position: sticky;
//   top: 2em;
//   transform-origin: center top;
//   transition: transform 0.3s ease;
//   z-index: 1;

//   will-change: transform, opacity;
// }



.animate__content {

  transform: scale(0.95) translateY(20px);
  transition: transform 0.6s ease, opacity 0.6s ease;
  will-change: transform, opacity;

  // &.visible {
  //   opacity: 1;
  //   transform: scale(1) translateY(0);
  // }
  transform: translateY(var(--scroll-offset, 0px));
  transition: transform 0.2s ease-out;

}

@keyframes stack-card {
  from {
    transform: scale(1) translateY(0);
  }

  to {
    transform:
      scale(calc(1.1 - 0.1 * var(--index))) translateY(calc(10px * var(--index)));
  }
}