@use "./utils/vars" as *;

.blog {
  padding-top: 57px;
  padding-bottom: 102px;

  &__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  &__title {
    max-width: 430px;
    line-height: 142%;
  }

  .subtitle::after {
    display: none;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }


  &__items {
    width: 60%;
  }



  &__blockquote {
    position: relative;
    margin-bottom: 50px;
    perspective: 1000px;
    min-height: 215px;

    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      transition: 1s;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      text-wrap: balance;
      box-shadow: var(--bs);
      overflow: hidden;
    }

    &-front {
      background: rgba(223, 223, 223, 0.5);
    }

    &-back {
      background: rgba(223, 223, 223, 0.2);
      transform: rotateY(180deg);
    }

    &-text {
      position: relative;
      padding: 5px;
      font-style: italic;
      font-weight: 300;
      font-size: 24px;
      line-height: 158%;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

    }

    &-author {
      position: relative;
      padding-top: 10px;
      font-family: var(--second-family);
      font-weight: 700;
      display: block;
      line-height: 144%;
      text-align: center;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        background-color: var(--line1);
        width: 177px;
        height: 1px;
      }
    }

    @media (any-hover: hover) {
      &:hover .blog__blockquote-front {
        transform: rotateY(180deg);
      }

      &:hover .blog__blockquote-back {
        transform: rotateY(360deg);
      }
    }
  }

  &__single-slider {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 32px;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
  }

  &__single-arrow {
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;

    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }
  }


  &__single-arrow-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    flex-shrink: 0;
    width: 60px;
    transition: all 0.5s ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(45deg, var(--accent), var(--line1));
      opacity: 0;
      transition: opacity 0.5s ease, clip-path 0.5s ease;
    }

    span {
      position: absolute;
      color: var(--white);
      font-size: 13px;
      text-transform: uppercase;
      transform: scale(0);
      transition: 0.5s;
      transition-delay: 0s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .blog__single-svg {
        transform: scale(0);
        color: var(--white);
        transition-delay: 0s;
      }

      span {
        transform: scale(1);
        transition-delay: 0.25s;
      }
    }
  }


  // стрелка вправо (next)
  &__single-arrow--next .blog__single-arrow-container::before {
    clip-path: polygon(0 0,
        /* верхний левый угол */
        90% 0,
        /* почти до правого края сверху */
        100% 50%,
        /* острый выступ вправо */
        90% 100%,
        /* почти до правого края снизу */
        0 100%
        /* нижний левый угол */
      );
  }

  // стрелка влево (prev)
  &__single-arrow--prev .blog__single-arrow-container::before {
    clip-path: polygon(10% 0,
        /* почти до левого края сверху */
        100% 0,
        /* верхний правый угол */
        100% 100%,
        /* нижний правый угол */
        10% 100%,
        /* почти до левого края снизу */
        0 50%
        /* острый выступ влево */
      );
  }


  &__single-svg {
    // position: absolute;
    width: 12px;
    height: 23px;
    // width: 100%;
    // height: 100%;
    fill: currentColor;
    transition: transform 0.5s ease, color 0.5s ease;
    transition-delay: 0.25s;

  }


  @media screen and (width < 1041px) {
    &__items {
      width: 100%;
    }

    &__item {
      max-width: 100%;

      &-img {
        width: 100%;
        max-width: 100%;
      }
    }

    &-box__img {
      width: 100%;
    }
  }

  @media screen and (width < 541px) {
    &__blockquote {
      padding: 24px 34px;
    }

    &__blockquote-text {
      font-size: 16px;
    }
  }
}