@use "./utils/vars" as *;

.blog {
  overflow: visible;

  &__item {
    max-width: 729px;
    // height: 728px;
    border-radius: var(--border-radius);
    transform-origin: center top;
    transition: transform 0.3s ease-out, z-index 0s linear;
    will-change: transform;
    isolation: isolate;
    z-index: 1;

    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;

    position: sticky;
    top: 2rem;
  }

  &__blockquote {
    position: relative;
    padding: 20px;
    margin-bottom: 50px;
    perspective: 1000px;
    height: 215px;

    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;

      inset: 0;

      transition: 1s;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 1s;
      backface-visibility: hidden;
      text-wrap: balance;
      box-shadow: var(--bs);
    }

    &-front {
      background: rgba(223, 223, 223, 0.5);
    }

    &-back {
      background: rgba(223, 223, 223, 0.2);
      transform: rotateY(180deg);
    }

    &-text {
      position: relative;
      font-style: italic;
      font-weight: 300;
      font-size: 24px;
      line-height: 158%;
      color: var(--title);
      padding-bottom: 23px;
      margin-bottom: 23px;

      &::after {
        left: calc(50% - 100px);
        background-color: var(--line);
        width: 177px;
        height: 1px;
      }
    }

    &-author {
      font-family: var(--second-family);
      font-weight: 700;
      display: block;
      line-height: 144%;
      text-align: center;
    }

    @media (any-hover: hover) {
      &:hover .blog__blockquote-front {
        transform: rotateY(180deg);
      }

      &:hover .blog__blockquote-back {
        transform: rotateY(360deg);
      }
    }
  }


  @media screen and (width < 1041px) {
    &__item {
      max-width: 100%;

      &-img {
        width: 100%;
        max-width: 100%;
      }
    }

    &-box__img {
      width: 100%;
    }
  }

  @media screen and (width < 541px) {
    &__blockquote {
      padding: 24px 34px;
    }

    &__blockquote-text {
      font-size: 16px;
    }
  }
}

// @for $i from 1 through 9 {
//   .blog__item:nth-child(#{$i}n) {
//     top: $i * 20px;
//   }
// }