@use "./base/vars" as *;

.blog {
  padding-top: 57px;
  padding-bottom: 102px;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__items {
    width: 60%;

    &--one {
      width: 100%;
    }
  }

  &__blockquote {
    position: relative;
    margin-bottom: 50px;
    perspective: 1000px;
    min-height: 215px;

    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      transition: 1s;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      text-wrap: balance;
      box-shadow: var(--bs);
      overflow: hidden;
    }

    &-front {
      background: rgba(223, 223, 223, 0.5);
    }

    &-back {
      background: rgba(223, 223, 223, 0.2);
      transform: rotateY(180deg);
    }

    &-text {
      position: relative;
      padding: 5px;
      font-style: italic;
      font-weight: 300;
      font-size: 24px;
      line-height: 158%;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

    }

    &-author {
      position: relative;
      padding-top: 10px;
      font-family: var(--second-family);
      font-weight: 700;
      display: block;
      line-height: 144%;
      text-align: center;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        background-color: var(--line1);
        width: 177px;
        height: 1px;
      }
    }

    @media (any-hover: hover) {
      &:hover .blog__blockquote-front {
        transform: rotateY(180deg);
      }

      &:hover .blog__blockquote-back {
        transform: rotateY(360deg);
      }
    }
  }

  @media screen and (max-width: 1041px) {
    &__items {
      width: 100%;
    }

    &__item {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 541px) {
    &__blockquote {
      padding: 24px 34px;
    }

    &__blockquote-text {
      font-size: 16px;
    }
  }
}