@use "./utils/vars" as *;

.blog {
  overflow: visible;

  &__item {
    max-width: 729px;
    height: 728px;
    border-radius: var(--border-radius);
    transform-origin: center top;
    transition: transform 0.3s ease-out, z-index 0s linear;
    will-change: transform;
    isolation: isolate;
    z-index: 1;

    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;

    position: sticky;
    top: 2rem;
    // font-size: 1.1rem;
    // line-height: 1.6;
    // color: #333;
    // width: 800px;
    // margin-bottom: 80px;


    // активная карточка — убираем sticky, поднимаем z-index

  }

  &__blockquote {
    margin-bottom: 50px;
    padding: 54px 64px;
    background: rgba(223, 223, 223, 0.5);

    &-text {
      font-style: italic;
      font-weight: 300;
      font-size: 24px;
      line-height: 38px;
      color: var(--title);
      text-align: center;
      padding-bottom: 23px;
      margin-bottom: 23px;
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: calc(50% - 100px);
        border: 1px solid var(--line);
        border-radius: 0.5px;
        background-color: var(--line);
        width: 200px;
        height: 1px;
        content: '';
      }
    }

    &-author {
      display: block;
      line-height: 22px;
      text-align: center;
    }
  }

  @media screen and (width < 1041px) {
    &__item {
      max-width: 100%;

      &-img {
        width: 100%;
        max-width: 100%;
      }
    }

    &-box__img {
      width: 100%;
    }
  }

  @media screen and (width < 541px) {
    &__blockquote {
      padding: 24px 34px;
    }

    &__blockquote-text {
      font-size: 16px;
    }
  }
}

// @for $i from 1 through 9 {
//   .blog__item:nth-child(#{$i}n) {
//     top: $i * 20px;
//   }
// }