@use "../base/vars" as *;

.card {
  position: relative;
  overflow: hidden;
  width: 100%;

  &--visible {
    overflow: visible;
  }

  @media (any-hover: hover) {
    &:hover .card__info {
      transform: translateY(0);
    }
  }

  &__link {
    position: relative;
    width: 100%;
    width: clamp(8.125rem, -1.304rem + 19.64vw, 21.875rem);
    height: clamp(8.125rem, -1.304rem + 19.64vw, 21.875rem);
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    color: var(--dove-gray);
    text-align: center;
  }

  &__img {
    object-fit: cover;
    @include transition ($transition-property: transform);

  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: var(--bg-fill);
    @include transition ($transition-property: transform);
    transform: translateY(calc(100% + 1px));
  }

  &__info-link {
    @extend %title-font;
    font-size: clamp(0.875rem, 0.8125rem + 0.5vw, 1.125rem);
    line-height: 1.2;
    text-align: center;
    color: var(--title);
    position: relative;
    padding-bottom: 19px;
    margin-bottom: 19px;

    &::before {
      position: absolute;
      content: '';
      width: 80%;
      height: 1px;
      background: var(--line);
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @include transition ($transition-property: (scale, -webkit-text-stroke));

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }

      @supports (-webkit-text-stroke: 1px var(--accent, #ffef35e6)) {
        &:hover {
          -webkit-text-stroke: 1px var(--accent, #ffef35e6);
        }
      }

      @supports not (-webkit-text-stroke: 1px var(--accent, #ffef35e6)) {
        &:hover {
          text-shadow:
            -1px -1px 0 var(--accent, #ffef35e6),
            1px -1px 0 var(--accent, #ffef35e6),
            -1px 1px 0 var(--accent, #ffef35e6),
            1px 1px 0 var(--accent, #ffef35e6);
        }
      }
    }
  }

  &__info-collection {
    @extend %title-font;
    font-size: clamp(0.875rem, 0.8125rem + 0.5vw, 1.125rem);
    line-height: 1.2;
    text-align: center;
    color: var(--title);
    position: relative;
    padding-bottom: 19px;
    margin-bottom: 19px;

    &::before {
      position: absolute;
      content: '';
      width: 80%;
      height: 1px;
      background: var(--line);
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

}