@use "../base/vars" as *;

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  place-items: center;

  &__item {
    position: relative;
    cursor: pointer;
    perspective: 1000px;
    max-width: 350px;
    height: 350px;
    width: 100%;
  }

  &__slide {
    position: absolute;
    // width: 100%;
    // height: 100%;
    inset: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &:nth-child(1) {
      animation: slideInOut1 15s infinite ease-in-out;
      z-index: 2;
    }

    &:nth-child(2) {
      animation: slideInOut2 15s infinite ease-in-out;
      z-index: 1;
    }
  }



  @media screen and (max-width: 1621px) {
    grid-template-columns: repeat(3, 1fr);

    &__img {
      width: 100%;
    }
  }

  @media screen and (max-width: 1201px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 769px) {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

@keyframes slideInOut1 {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }

  40% {
    transform: rotateY(90deg);
    opacity: 0;
  }

  50% {
    transform: rotateY(90deg);
    opacity: 0;
  }

  90% {
    transform: rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slideInOut2 {
  0% {
    transform: rotateY(-90deg);
    opacity: 0;
  }

  40% {
    transform: rotateY(0deg);
    opacity: 1;
  }

  50% {
    transform: rotateY(0deg);
    opacity: 1;
  }

  90% {
    transform: rotateY(-90deg);
    opacity: 0;
  }

  100% {
    transform: rotateY(-90deg);
    opacity: 0;
  }
}