@use "./base/vars" as *;

.contacts {
  padding-bottom: 100px;

  & .subtitle {
    text-align: left;
  }

  &__inner {
    // padding-left: 285px;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
  }

  &__gallery {
    width: 50%;
    padding-left: 24%;
    margin-right: 50px;
    flex-shrink: 0;
  }

  &__content {
    width: 38%;
  }

  &__addres {
    font-style: normal;

    &-link {
      padding-bottom: 6px;
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: var(--default);
    }
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 17px;
    line-height: 175%;
    color: var(--copyright);
  }

  &__address-text + &__address-text {
    margin-bottom: 10px;
  }


  &__form {
    position: relative;
    margin-top: 10px;
    max-width: 825px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    &-alert {
      position: absolute;
      top: 40%;
      width: 100%;
      border-radius: 16px;
      border: 2px solid var(--link);
      text-align: center;
      padding: 10px;
      left: 1%;
      background-color: var(--site-white);
      box-shadow: -2px 3px 17px 0 #000;
    }

    &-input,
    &-textarea {
      padding: 6px 17px;
      width: 48%;
      border: 1px solid #DFDFDF;
      border-radius: 20px;

      &::placeholder {
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: var(--copyright);
      }


    }

    &-input {
      margin-bottom: 13px;
    }

    &-textarea {
      margin-bottom: 10px;
      padding: 4px 17px;
      // max-width: 825px;
      width: 100%;
      resize: none;
      height: 114px;
      border-radius: 20px;
    }

    & .forms-button {
      min-width: 180px;
    }
  }

  @media screen and (width <=1290px) {
    &__inner {
      flex-direction: column;
      align-items: center;
      row-gap: 200px;
    }

    &__gallery {
      width: 100%;
      padding-left: 40%;
      margin-right: 0;
    }

    &__content {
      width: 100%;
    }
  }

  @media screen and (width < 841px) {
    padding-bottom: 50px;

    &__inner {
      padding-left: 0
    }
  }



  @media screen and (width < 641px) {
    &__form {

      &-input,
      &-textarea {
        width: 100%;
      }

      &-input {
        margin-bottom: 7px;
      }
    }
  }

  @media screen and (width <=600px) {
    &__gallery {
      display: none;
    }
  }
}