  @use "../base/vars" as *;

  .cta {
    position: relative;

    background-image: image-set(url("../images/convert/cta/img1@1x.avif") type("image/avif") 1x,
        url("../images/convert/cta/img1@2x.avif") type("image/avif") 2x,
        url("../images/convert/cta/img1@1x.webp") type("image/webp") 1x,
        url("../images/convert/cta/img1@2x.webp") type("image/webp") 2x,
        url("../images/convert/cta/img1@1x.jpg") type("image/jpeg") 1x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 616px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 0;

    &__content {
      position: relative;
      z-index: 2;
      text-align: left;
    }

    &__title {
      width: 100%;
      max-width: 730px;
      padding-bottom: 25px;
      margin-bottom: 22px;
      font-size: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
      line-height: 133%;
      text-align: left;
      text-wrap-style: balance;

      &::after {
        height: 1px;
      }
    }

    &__text {
      max-width: 540px;
    }


    @media screen and (max-width: 881px) {
      // margin-bottom: 40px;
      padding: 70px 0;
      min-height: 100%;
    }
  }