@use "../base/vars" as *;

.gallery {
  padding: 40px 0 90px;
  overflow-x: hidden;

  .container-fluid {
    max-width: 1600px;
  }

  &__list {
    padding: 80px 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    gap: 20px 25px;
    grid-auto-flow: dense;
  }

  &__item {
    border-radius: var(--br);
    @include transition ($transition-property: (filter, transform, opacity));

    &:nth-child(14n + 1),
    &:nth-child(14n + 11) {
      grid-row: span 2;
      grid-column: span 2;
    }

    &.is-hidden {
      opacity: 0;
      transform: scale(0.8);
      pointer-events: none;
      position: absolute;
      /* Чтобы не занимала место в потоке */
      visibility: hidden;
    }

    // &--active {
    //   opacity: 1;
    //   transform: scale(1);
    //   pointer-events: auto;
    //   visibility: visible;
    //   background-color: #000;
    //   color: #fff;
    // }
  }


  &__link {
    position: relative;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(90deg, #868079, #413f25, #505035);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.66);
    // perspective: 500px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(175px);
    width: 98%;
    height: 98%;
    object-fit: cover;

    border-radius: var(--br);
    backface-visibility: hidden;

    @include transition ($transition-property: (blur));
  }

  // Hover effects
  &:has(&__item:hover) &__item:not(:hover) {
    filter: blur(4px);
  }

  &__item:hover {
    transform: scale(.9);

    .gallery__img {
      transform: translate(-48%, -48%) scale(1);
    }
  }



  @media screen and (max-width: 1025px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 200px;
      gap: 10px 16px;
    }
  }

  @media screen and (max-width: 769px) {
    padding: 40px 0 50px;

    &__list {
      padding: 30px;
      grid-template-columns: repeat(2, 1fr);

    }

    &__link {
      perspective: 1500px;
    }

    &:nth-child(14n + 1),
    &:nth-child(14n + 11) {
      grid-row: span 1;
      grid-column: span 1;
    }
  }

  @media screen and (max-width: 486px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px 0;
    }
  }
}