@use "../base/vars" as *;

.swiper-pagination {
  position: relative !important;
  display: flex;
  justify-content: center;
  gap: clamp(0.625rem, 0.372rem + 1.27vw, 1.25rem);
  padding-block: 20px;
}

.swiper-pagination-bullet {
  font-size: 0;
  width: 8px;
  height: 8px;
  background: var(--title, #363838);
  box-shadow: var(--bs);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--accent, #ffef35e6);
}