.page-about {
  .collection {
    padding-bottom: clamp(0.625rem, -1.198rem + 9.11vw, 5.125rem);
  }
}

.page-blog {
  min-height: auto;
  height: 100vh;
}

// .page-blog {
//   body {
//     height: 100vh;
//     overflow-y: auto;
//   }
// }