@use "../utils/vars" as *;

:root {
  --partners-gap: 30px;
}

.partners {
  margin-bottom: clamp(1.875rem, 1.267rem + 3.04vw, 3.375rem);
  background-color: #ffffff;
  color: var(--partners-fill);
  will-change: transform;

  &__list {
    display: flex;
    gap: var(--partners-gap);
    // margin-bottom: 54px;
    transform: translateZ(0);
    will-change: transform;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 320px;
    // height: 320px;
    width: clamp(10.625rem, 8.75rem + 9.38vw, 20rem);
    height: clamp(10.625rem, 8.75rem + 9.38vw, 20rem);
    opacity: 0;
    transform: translateY(5rem);
    @include transition ($transition-property: (opacity, transform));
    position: relative;
    padding: 15px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 1%;
      bottom: 1%;
      left: 1%;
      right: 1%;
      @include transition ($transition-property: (transform));
      transform: scaleX(0);
    }

    &:before {
      border-top: solid 2px var(--default);
      border-bottom: solid 2px var(--default);
    }

    &:after {
      border-left: solid 2px var(--default);
      border-right: solid 2px var(--default);
    }

    @media (any-hover: hover) {

      &:hover:before,
      &:hover:after {
        transform: scale(1);
      }

      &:hover .partners__logo {
        filter: drop-shadow(2px 4px 6px black);
      }
    }

    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__logo {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 0 transparent);
    cursor: pointer;
    color: var(--partners-fill);
    @include transition ($transition-property: filter);
  }
}

@keyframes ticker-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-33.333%);
  }
}