@use "../base/vars" as *;

.cards-3deffect {
  padding: clamp(3.125rem, 0.897rem + 6.13vw, 8.125rem) 0;

  @media screen and (width <=375px) {
    display: none;
  }

}

.perspective {
  overflow: visible;

  &__flex {
    display: flex;
    gap: 50px clamp(0.625rem, -0.86rem + 2.32vw, 1.875rem);
    transition: margin 0.6s ease;
    transform-style: preserve-3d;
  }

  // вместо transform используем margin для сдвига
  &__flex:hover {
    margin-left: 100px;

    .perspective__item {
      transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
      // transform: rotateY(15deg) rotateX(8deg);
      opacity: 0.3;
      filter: blur(2px);
      transition: all 0.6s ease;
    }

    .perspective__col {
      margin-left: -50px;


      &:hover {
        z-index: 1;

        .perspective__item {
          // transform: rotateY(-10deg) translateY(-40px) rotateX(8deg) scale(1);
          transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
          opacity: 1;
          filter: none;
        }

        .card__info {
          transform: translateZ(20px) rotateX(8deg) rotateY(-5deg) scale(1);
          opacity: 1;
        }
      }

    }
  }

  &__col {
    // width: 20%;
    // padding: 0 25px;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
    border-radius: var(--br);

    .card {
      position: relative;
      border-radius: var(--br);
      transform-style: preserve-3d;
      perspective: 1000px;
      transition: transform 0.6s ease;
    }

    .card__img {
      border-radius: var(--br);
      position: absolute;
      inset: 0;
      height: 100%;
    }

    .card__info {
      position: absolute;
      top: 20%;
      left: 10%;
      right: 10%;
      width: 80%;
      height: max-content;
      transform-style: preserve-3d;
      transform: translateZ(20px) scale(0);
      border-radius: var(--br);
      background: linear-gradient(145deg, #fff, #f0f0f0);
      box-shadow:
        0 15px 25px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.1),
        inset 0 2px 5px rgba(255, 255, 255, 0.3);
      opacity: 0;
      transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.6s ease;
    }
  }

  &__item {
    transition: all 0.6s ease;
    border-radius: var(--br);
    transform-style: preserve-3d;
  }

  @media screen and (width <=769px) {
    .card__info {
      display: none;
    }
  }



  // @media (max-width: 1025px) {
  //   .perspective__flex {
  //     flex-direction: column;
  //     align-items: center;
  //   }

  //   .perspective__flex:hover {
  //     // transform: none;
  //     margin-left: 0;
  //   }

  //   .perspective__flex:hover .perspective__item {
  //     transform: none;
  //     opacity: 1;
  //     -webkit-filter: none;
  //     filter: none;
  //   }

  //   .perspective__flex:hover .perspective__col {
  //     margin-left: 0;
  //   }

  //   .perspective__flex:hover .perspective__col:hover .perspective__item {
  //     transform: none;
  //   }

  //   .card__link {
  //     width: 450px;
  //     height: 450px;
  //   }
  // }
}