    @use "../utils/vars" as *;

    .social {
      display: flex;
      flex-direction: column;
      gap: 3px;

      &__container {
        display: inline-block;
        width: 100%;
        cursor: pointer;
      }

      &__link {
        padding-block: 6px;
        width: max-content;
        display: flex;
        align-items: center;
        gap: 12px;
      }

      @media screen and (width > 822px) {
        width: 125px;
      }

      @media screen and (width < 823px) {
        max-width: 100%;
      }
    }