@use "../base/vars" as *;


.works-path {
  padding: 80px 20px 30px;
  position: relative;
  background: white;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);

  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 0;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 900px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
  }

  &:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }

  &__title {
    margin-bottom: 40px;
    line-height: 142%;
  }

  .subtitle::after {
    display: none;
  }


  &__items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid var(--works-path-line);
    justify-content: space-between;
    gap: 50px;
  }


  &__item {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    &--designer {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-color: var(--title);
        border-radius: 50%;
        bottom: -5px;
        left: 0;
        right: 0;
      }
    }

    &--production::after,
    &--measurements::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      background-color: var(--works-path-line);
      transform: rotate(90deg);
    }

    &--production {
      position: relative;
      padding-bottom: 35px;

      &::after {
        bottom: 8px;
        left: -7px;
      }
    }

    &--measurements {
      position: relative;
      margin-inline: auto;
      margin-top: 10px;

      &::before {
        top: -2px;
        left: -12px;
      }
    }

  }

  &__top {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &-inner {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-top: 13px;
  }

  @media screen and (max-width: 1025px) {
    &__item {
      width: 350px;
    }
  }

  @media screen and (max-width: 641px) {
    padding-inline: 0;

    &__items {
      width: 90%;
      margin-inline: auto;
    }

    &__items-box {
      border-bottom: none;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    &__item {
      width: 100%;

      &--designer,
      &--production,
      &--measurements {
        margin: 0;
      }

      &--production {
        padding-bottom: 0;
        order: 1;
      }
    }

    &__item--designer::after,
    &__item--production::after,
    &__item--measurements::before {
      display: none;
    }
  }
}