@use "../utils/vars" as *;

// .gallery3d {
//   position: relative;
//   width: 200px;
//   height: 300px;
//   transform-style: preserve-3d;
//   transition: transform 0.3s ease;

//   &__box {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: var(--white);
//     transform: rotateY(calc(var(--i) * 45deg)) translateZ(240px);
//     -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);

//     &::before {
//       content: "";
//       position: absolute;
//       inset: 0;
//       z-index: 2;
//       box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
//     }
//   }

//   &__img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
//   }


// }
.gallery3d {
  position: relative;

  perspective: 900px; // перспектива на контейнер

  width: clamp(7.5rem, 6.404rem + 5.48vw, 12.5rem);
  height: clamp(10rem, 8.082rem + 9.59vw, 18.75rem);

  &__carousel {
    // width: 200px;
    // height: 300px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease; // плавность вращения
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(240px);
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0004);
    // background-color: var(--white);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}