.about {
  padding-bottom: 98px;

  &__prev {
    margin-bottom: 100px;
    background-image: url(../images/hero.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -52px;
    padding: 159px 160px;

    &-title {
      @extend %title-font;
      font-size: 60px;
      line-height: calc(80/60);
      color: var(--title);
      text-align: center;
    }
  }

  & .subtitle {
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: left;
    max-width: 822px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 200px;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: #6D7278;
      border: 1px solid var(--line);
    }
  }

  &__content-text {
    padding-left: 285px;
    margin-bottom: 95px;

    & p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__video {
    background-image: url(../images/about-video-img.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 167px;
    padding-bottom: 167px;
  }

  &__video-play-btn {
    margin: 0 auto;
  }

  @media screen and (width < 992px) {
    &__content-text {
      padding-left: 0px;
      margin-bottom: 50px;
    }
  }

  @media screen and (width < 644px) {
    padding-bottom: 50px;

    &__prev {
      margin-bottom: 50px;
      padding: 80px 0;

      &-title {
        font-size: 45px;
      }
    }
  }

  @media screen and (width < 481px) {
    &__prev {
      &-title {
        font-size: 35px;
      }
    }
  }

}