.blog-box {
  padding-bottom: 100px;

  .subtitle {
    max-width: 430px;
    margin: 0 auto 30px;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    flex-basis: 540px;
  }

  &__img-link {
    @include transition ($transition-property: scale);
    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        transform: scaley(1.07);
      }
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 14px;
    color: var(--dove-gray);
    gap: 9px;
    margin-top: 20px;
  }

  &__author,
  &__date,
  &__theme {
    color: inherit;
    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }
  }

  &__title-link {
    .subtitle__fourth {
      @include transition ($transition-property: color);

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  @media screen and (width > 890px) and (width < 1047px) {
    padding-bottom: 50px;

    &__list {
      gap: 10px;
    }

    &__links {
      font-size: 12px;
      gap: 5px;
    }
  }

  @media screen and (width < 891px) {
    &__list {
      display: block;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__img {
      width: 100%;
    }
  }

  // @media screen and (width < 528px) {
  //   &__list {
  //     gap: 10px;
  //   }

  //   &__links {
  //     font-size: 12px;
  //     gap: 3px;
  //   }
  // }

}