.comments {
  padding-top: 35px;

  &__title {
    @extend %title-font;
    color: var(--title);
    font-size: 20px;
    line-height: 31px;
  }

  &__item {
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-avatar {
      margin-right: 13px;
      width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: 50%;
    }

    &-author {
      display: block;
      @extend %title-font;
      font-style: normal;
      line-height: 23px;
      color: var(--title);
    }

    &-data {
      margin-bottom: 10px;
      color: #A1A1A1;
      font-size: 14px;
      line-height: 28px;
    }

    &-btn {
      color: var(--dove-gray);
      font-size: 14px;
      font-weight: 600;
      line-height: 28px;
      @include transition ($transition-property: color);

      &:hover {
        color: var(--accent);
      }
    }
  }

  // comments form
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .subtitle__five {
      margin-bottom: 25px;
      line-height: 23px;
    }

    &-textarea {
      border-radius: 24px;
      border: 1px solid var(--gray);
      width: 100%;
      min-height: 125px;
      resize: none;
      padding-top: 14px;
      padding-left: 15px;
      color: #A1A1A1;
      margin-bottom: 12px;
    }

    &-input {
      border-radius: 20px;
      border: 1px solid var(--gray);
      padding: 6px 16px;
      width: 48%;
      margin-bottom: 20px;

      &::placeholder {
        font-family: 'OpenSans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(27/16);
        color: #A1A1A1;
      }
    }

    &-label {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      font-size: 14px;
      color: #A1A1A1;
    }

    &-checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }

    &-checkbox-style {
      position: relative;
      width: 21px;
      height: 21px;
      margin-right: 11px;
      border: 1px solid var(--line);
      background-color: transparent;
    }

    &-checkbox:checked + &-checkbox-style {

      background-color: var(--accent);
    }


    &-checkbox:checked + &-checkbox-style::before {
      position: absolute;
      content: '✔';
      font-size: 22px;
      width: 20px;
      height: 20px;
      color: var(--title);
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  @media screen and (width < 541px) {
    &__item-text {
      font-size: 14px;
    }

    &__item {
      flex-wrap: wrap;
      gap: 10px;

      &-avatar {
        width: 45px;
        height: 45px;
      }

      &-author,
      &-data {
        margin-left: 55px;
      }

      &-info {
        margin-top: -56px;
      }
    }

    &__form {
      &-input {
        width: 100%;
      }

      &-checkbox-style {
        width: 16px;
        height: 16px;
      }

      &-checkbox:checked + &-checkbox-style::before {
        width: 15px;
        height: 15px;
        font-size: 17px;
      }
    }
  }
}