.contacts-slider {
  padding-bottom: 102px;

  &__item {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:hover .contacts-slider__title-inner {
      transform: translateY(0);
    }
  }

  &__link {
    margin-bottom: 35px;
    margin-right: 18px;
  }

  &__img {
    object-fit: cover;
  }

  &__title-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 89%;
    width: 93%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .6);
    @include transition ($transition-property: transform);
    transform: translateY(calc(100% + 1px));
  }

  &__title {
    padding: 10px 10px;
    @extend %title-font;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--link);
  }

  @media screen and (width < 1781px) {
    &__img {
      width: 100%;
      ;
    }
  }

  @media screen and (width < 1201px) {
    &__img {
      // height: 240px;
      margin-right: 10px;
    }
  }


  @media screen and (width < 376px) {
    &__title-inner {
      height: 96%;
      width: 95%;
    }
  }
}