// 300
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-LightItalic.woff2) format('woff2'), url(../fonts/OpenSans-LightItalicr.woff) format('woff');
    font-weight: 300;
    font-style: italic;
}
// 400
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.woff2) format('woff2'), url(../fonts/OpenSans-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

// 600
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-SemiBold.woff2) format('woff2'), url(../fonts/OpenSans-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
// 700
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff2) format(woff2), url(../fonts/Montserrat-Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
}

