.footer {

    &__content {
        padding: 60px 0 80px;
        background-color: var(--gray);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 540px;
    }

    &__info-title {
        margin-bottom: 14px;
        @extend %title-font;
        font-size: 16px;
        line-height: calc(23/16);
        color: var(--title);
    }

    &__info-text {
        margin-bottom: 16px;
        max-width: 476px;
    }

    &__form {
        display: flex;
        gap: 9px;
    }

    &__form-input {
        width: 100%;
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba(54, 56, 56, .7);

        &::placeholder {
            font-family: 'OpenSans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: calc(27/16);
            color: #A1A1A1;
        }
    }

    &__social {
        @media screen and (width > 822px) {
            width: 125px;
        }

        margin-right: auto;
        margin-left: 100px;
    }

    &__menu {
        @media screen and (width > 822px) {
            width: 135px;
        }

        margin-right: 60px;
    }

    &__social-item,
    &__menu-item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__social-link {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__menu-link,
    &__social-link {
        padding: 0 16px;
        font-weight: 600;
        font-size: 14px;
        color: var(--dove-gray);
        line-height: calc(28/14);
        border-radius: 14px;
        @include transition ($transition-property: color);

        &:hover {
            background-color: var(--accent);
        }
    }

    &__copyright {
        padding: 42px 0 41px;
        background-color: var(--title);
        color: #A1A1A1;
        text-align: center;
    }

    @media screen and (width < 993px) {
        &__info {
            width: 380px;
        }
    }

    @media screen and (width < 823px) {

        &__content {
            padding: 30px 0 50px;
        }

        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__info {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }

        &__info-text {
            max-width: 100%;
        }

        &__social,
        &__menu {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    @media screen and (width < 483px) {
        &__form {
            display: block;

            &-input {
                margin-bottom: 15px;
            }
        }

        &__menu {
            font-size: 12px;
            &-link {
                font-size: inherit;
            }
        }

        &__social-link,
        &__menu-link {
        padding: 0 7px;
        font-size: 12px;
        }
        &__copyright {
            font-size: 12px;
        }
    }
}