.new-collection {
  padding-top: 46px;
  margin-bottom: 104px;
  text-align: center;
  & .subtitle {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 24px;
    &::before {
      position: absolute;
      content: '';
      width: 252px;
      height: 1px;
      background: #6D7278;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__text{
    max-width: 750px;
    padding: 0 10px 37px;
    margin: 0 auto 34px;
  }
}