.rightside-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 694px;
    width: 100%;
    padding-top: 40px;
    background: #FFFFFF;
    box-shadow: -2px 3px 17px 0 #000;
    z-index: 5;
    @include transition ($transition-property: transform);


    &.rightside-menu--close {
        transform: translateX(500%);
    }

    &__close {
        margin-left: 50px;
        margin-bottom: 30px;
        text-align: left;
    }

    &__content {
        max-width: 485px;
        margin: 0 auto;
        text-align: center;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 40px;
    }

    &__title {
        @extend %title-font;
        font-size: 36px;
        line-height: calc(51/36);
        color: var(--title);
    }

    &__line {
        width: 252px;
        height: 1px;
        margin-bottom: 17px;
        background: #6D7278;
        border: 1px solid #979797;
    }

    &__text {
        margin-bottom: 75px;
    }

    &__img {
        max-width: 485px;
    }
}

@media screen and (width < 1024px) {
    .rightside-menu.rightside-menu--close {
        display: none;
    }
}