  .tags {
    margin-bottom: 50px;

    & .subtitle__five {
      margin-bottom: 14px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &__link {
      padding: 6px 16px;
      font-family: inherit;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      color: #8F8D8D;
      ;
      border-radius: 14px;
      border: 1px solid rgba(#454647, .5);
      @include transition ($transition-property: (color, background-color));

      &:hover {
        color: var(--title);
        background: rgba(#FFEF35, .5);
      }
    }
  }