@use "./components/header";
@use "./components/footer";
@use "./components/menu";
@use "./components/_rightside-menu";
@use "./components/logo";
@use "./components/breadcrumbs";
@use "./components/subtitle";


@use "./components/forms-button";

@use "./components/icons";
@use "./components/social-media";
@use "./components/info-email";
@use "./components/pages";
// @use "./blocks/_animate";

// @import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";