@use "./components/header";
@use "./components/footer";
@use "./components/menu";
@use "./components/_rightside-menu";
@use "./components/logo";
@use "./components/breadcrumbs";
@use "./components/subtitle";


@use "./components/forms-button";
@use "./components/slick-dots";

@use "./components/icons";
@use "./components/social-media";
@use "./components/info-email";
@use "./components/pages";



// @use "./components/_hero";
// @use "./blocks/_paginations";
// @use "./blocks/_background-layer";
// @use "./blocks/spring";



// // @use "blocks/slick.css";
// @use "./blocks/_social-media";
// @use "./components/_new-collection";
// @use "./blocks/_collection";
// @use "./blocks/card";
// @use "./blocks/_tags";

// @use "./blocks/_cta";
// @use "./blocks/_chevron";
// @use "./components/_works-path";
// @use "./components/_gallery";
// @use "./components/_tabs-buttons";
// @use "./components/_main-blog";
// // @use "./components/_blog-box";
// @use "./blocks/breadcrumbs";
// @use "./components/_about";
// @use "./components/details";


// @use "./components/_map";
// @use "./components/_contacts";
// // @use "./components/_contacts-slider";
// @use "./blocks/_blog";
// @use "./blocks/_blog-card";
// @use "./blocks/_animate";
// @use "./blocks/_blog-slider";
// @use "./components/_aside";
// @use "./components/_tags-blog";

// // @use "./components/_pagination";
// // @use "./components/_blog-one";
// @use "./components/_comments";
// @use "./blocks/gallery3d";
// @import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";