@use "./base/normalize";
@use "./base/global";
@use "./base/vars";
@use "./base/fonts";



// @use "./blocks/_tags";

// @use "./components/_main-blog";
// // @use "./components/_blog-box";





// // @use "./components/_contacts-slider";

// @use "./blocks/_animate";


// // @use "./components/_pagination";


// @import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";