@use "./blocks/hero";
@use "./blocks/paginations";
@use "./blocks/new-collection";
@use "./blocks/collection";

@use "./blocks/card";
@use "./blocks/cta";
@use "./blocks/background-layer";
@use "./blocks/chevron";

@use "./blocks/works-path";

@use "./blocks/blog";
@use "./blocks/blog-card";

@use "./blocks/spring";